<% if (!index && page.source != 'about/index.md'){ %>
  <div class="article-statement">
    <hr> 
    1. 除非注明，本博文即为原创，转载请注明链接地址 <br>
    2. 本博文只代表博主当时的观点或结论，请不要恶意攻击 <br>
    3. 如果本文帮到了您，不妨点一下 <a>右下角</a> 的 <a>分享到</a> 按钮，让更多的人看到 <br>
	<!-- ，或者 <a href='/about/index.html#zan-shang'>小额赞赏</a> 我。-->
  </div>
<% } %>

